* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 10px;
}

.logo h1{
    font-size: 42px;
}
/* BEGIN NAV */
nav {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

nav select {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a.active {
    background-color: #ff6600;
    border-radius: 5px;
}
/* END NAV */

main {
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.map-container {
    border: 2px solid #ddd;
    padding: 10px;
    background-color: white;
    max-width: 800px;
    margin: auto;
}

.map-container img {
    width: 100%;
    height: 700px;
}


/* Секции */
section {
    display: none; /* По умолчанию секции скрыты */
}

ul {
    list-style-type: "-";
    padding-left: 0; /* Убираем стандартный отступ */
    display: inline-block; /* Центрируем список */
    text-align: left; /* Выравниваем текст внутри списка по левому краю */
}
li {
    margin-bottom: 5px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    gap: 10px; /* Расстояние между элементами */
    width: 80%;
    max-width: 600px;
    margin-left: 50px;
}

.gallery-item {
    width: 100%;
    padding-top: 100%; /* Соотношение сторон 1:1 */
    position: relative;
    background-color: #e0e0e0; /* Цвет фона для пустых рамок */
    border: 2px dashed #ccc; /* Рамка для пустых блоков */
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Картинка растянется, сохраняя пропорции */
}
.gallery-item .item-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
    box-sizing: border-box;
}
.empty {
    background-color: #f9f9f9; /* Цвет пустой рамки */
    border: 2px dashed #aaa; /* Стили пустой рамки */
}

section.active-section {
    display: flex; /* Отображаем только активную секцию */
    justify-content: center;
    flex-direction: column;
}

/* Стили для модального окна */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
}
.modal.open {
    visibility: visible;
    opacity: 1;
}
.modal-content {
    position: relative;
    background: white;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}
.modal-content img {
    width: 100%;
    height: auto;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}